BODY{
    font-family: 'Poppins', sans-serif;
}
.color{
    color: orange;
}
h1{
    font-size: 40px;
}
section{
    display: flex;
}
.half-width{
  width: 50%;  
  padding-left: 10%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-color: aqua;
    padding: 10px 30px;
    border-radius: 10px;
}
.text-align{
    text-align: center;
    color: orange;
}
h2{
    text-align: center;
}
.text-color{
color: orange;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }