BODY{
    font-family: 'Poppins', sans-serif;
}
.color{
    color: orange;
}
h1{
    font-size: 40px;
}
section{
    display: flex;
}
.half-width{
  width: 50%;  
  padding-left: 10%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-color: aqua;
    padding: 10px 30px;
    border-radius: 10px;
}
.text-align{
    text-align: center;
    color: orange;
}
h2{
    text-align: center;
}
.text-color{
color: orange;
}
.column {
    float: left;
    width: 20%;
    padding: 5px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .experience-item{
      width: 40%;
      margin-left: 5%;
      margin-right: 5%;
      border: black 10px;
      border-radius: 10px;
      text-align: center;
      font-size: 10px;
      background-color: mistyrose;
  }
  #web{
      border: black;
  }
  .flexible{
    display: flex;
    margin-bottom: 100px;
    font-size: 10px;
  }
  img {
    width: 20%;
    height: 100%;
  }
  .half-width{
      text-align: left;
  }
  .half-width{
      font-size: 20px;
      text-align: center;
  }
  .half-width{
      text-align: center;
  }
h1{
    text-align: center;
}
